<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
    </header>
    <ul>
      <% Object.keys(urls).forEach(function(key) { %>
      <li><%= urls[key] + "--> " + [key] %></li>
        <form method="POST" action="/urls/<%=[key]%>">
          <input type="submit" value="update">
        </form>
        <form method="POST" action="/urls/<%=[key]%>/delete">
          <input type="submit" value="delete">
        </form>
        <% }); %>
    </ul>
  <a href="/urls/:id">URL Shortener</a>
</body>
</html>