<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
    </header>
    <ul>
      <li><%= link + " " + shortURL %></li>
    </ul>
      <a href="/urls">Is it working?</a>
</body>
</html>